@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;

  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0 solid gray !important;
}

.nav-link {
  font-weight: 300px !important;
}
.nav-link:hover {
  color: red;
}

.active {
  border-bottom: 2px solid rgb(250, 5, 5);
}

.nav-brand {
  font-family: "roboto", "sans-serif";
  font-weight: 700;
  font-weight: bolder;
  letter-spacing: 3px;
}

/* footer css */
.footer {
  color: white;
  padding: 25px;
  background-color: #000000;
  /* fallback for old browser */
  background-color: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to-right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover {
  color: #fac003;
  border-bottom: 2px solid #fac003;
}

/* page not found css */
/*  pnf container css */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* Register page css */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

/* teacher link */
.teacher-link {
  text-decoration: none !important;
  color: black !important;
  border-style: solid;
  border-color: black;
  justify-content: space-evenly;
  margin: 6px 6px;
}
.t-link:hover {
  border-style: solid;
  border-color: red;
  border-radius: 15px;
}
.t-link {
  text-decoration: none !important;
  color: black !important;
  border-style: solid;
  border-color: black;
  justify-content: space-evenly;
  margin: 6px 6px;
}

/* list of teachers */
.list-of-teachers {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-box {
  display: flex;
}
.teacher-box {
  border-radius: 10px;
  flex: 1;
}
.teacher-photo {
  width: 100%;
  height: 220px;
  object-fit: cover;
  padding: 15px 15px;
}
#see-your-teacher:hover {
  color: red;
}
#teacher-teacher {
  display: flex;
}
.card-title {
  font-size: 20px;
  font-weight: bolder;
  font-style: bold;
  color: red;
}
.rate-button {
  padding: 20px 20px;
  color: blue;
  font-size: medium;
  font-weight: bolder;
}
.rate-button:hover {
  color: white;
}
.teacher-details {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
}
.h-ratings {
  display: flex;
  padding: 20px 20px;
  width: 300px;
}
.f-btn {
  background-color: red;
  padding: 3px 3px;
}
.wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.create-teachers {
  justify-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.update-box {
  display: flex;
}
.u-box {
  flex: 1;
}
.d-box {
  flex: 1;
}
.teacher-d-c {
  color: red;
  font-weight: bold;
}
